@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #555;
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

header {
  width: 100%;
  height: auto;
}

.header {
  max-width: 800px;
  height: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  font-size: 0.7em;
}

.header_menu a {
  transition: 0.3s;
}

.header_menu a:hover {
  opacity: 0.6;
}

.header_logo h1 {
  font-size: 30px;
  font-weight: bold;
}

.menu_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu_list li {
  margin-right: 70px;
}

.menu_right {
  display: flex;
  align-items: center;
}

.menu_right li {
  margin-right: 10px;
}

.side_icon {
  position: fixed;
  top: 300px;
  left: 100px;
  display: flex;
  flex-direction: column;
}

.side_icon a:hover {
  opacity: 0.6;
}

.side_icon a:not(:last-child) {
  margin-bottom: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto 100px auto;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
  line-height: 1.4em;
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  padding: 0 200px;
}

h2:before,
h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 180px;
  height: 0.5px;
  background-color: black;
}

h2:before {
  left: 0;
}

h2:after {
  right: 0;
}

span {
  font-size: 0.8em;
}

.top_section img {
  width: 100%;
  height: 600px;
}

.item_section ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item_section ul li {
  width: 30%;
}

.item_section ul li a img {
  transition: 0.3s;
}

.item_section ul li a:hover img {
  opacity: 0.8;
  transform: translateY(-6px);
}

.item_section ul li p {
  font-size: 12px;
  line-height: 1.6em;
  padding: 20px 20px 40px 20px;
}

.item_section ul li img {
  width: 100%;
}

.button {
  margin-top: 50px;
}

.button a {
  display: inline-block;
  padding: 8px 30px;
  border: 1px solid #333;
  font-size: 0.8em;
  font-weight: bold;
}

.button a:hover {
  color: #fff;
  background-color: rgb(120, 161, 120);
  border: 1px solid rgb(120, 161, 120);
}

.footer {
  padding: 120px 20px;
  background-color: rgba(155, 218, 97, 0.1);
}

.footer .container {
  margin: 0 auto;
}

.footer h3 {
  font-weight: bold;
  font-size: 30px;
  color: #888;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

.footer_menu {
  display: flex;
  justify-content: space-around;
}

.footer_menu li {
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer_menu li a:hover {
  opacity: 0.6;
}

.footer input {
  padding: 6px;
  width: 100%;
}

.footer .button {
  display: inline-block;
  width: 100%;
  border: 1px solid #555;
  margin: 0;
  padding: 10px 6px;
  text-align: center;
  font-weight: bold;
}

.footer .button:hover {
  color: #fff;
  background-color: rgb(120, 161, 120);
  border: 1px solid rgb(120, 161, 120);
}

.copy_right {
  padding: 30px;
  text-align: center;
  font-size: 10px;
}

.about_img {
  margin-bottom: 100px;
}

.about_img .img {
  width: 200px;
  transform: translateX(100px);
}

.about_text {
  width: 60%;
  margin: 0 auto;
}

.about_text p {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.4em;
}

.about_text span {
  font-size: 16px;
  line-height: 1.4em;
}

.blog_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.blog_menu input {
  border: 1px solid #ddd;
  padding: 6px 8px;
}

.blog_menu a {
  color: #555;
}

.blog_menu a:hover {
  opacity: 0.6;
}

.blog_section ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog_section ul li {
  width: 30%;
  box-shadow: 0 0 4px rgb(221, 221, 221);
  margin-bottom: 30px;
}

.blog_section ul li a {
  cursor: pointer;
  display: inline-block;
}

.blog_section ul li a:hover {
  opacity: 0.6;
}

.blog_section ul li img {
  width: 100%;
  height: 190px;
}

.list_contents {
  padding: 20px;
}

.list_contents h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 40px 0;
  height: 60px;
}

.list_title {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: left;
}

.list_logo {
  margin-right: 14px;
}

.list_text p {
  font-size: 14px;
  margin-bottom: 2px;
}

.list_text span {
  font-size: 10px;
}

.list_footer {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(221, 221, 221);
}

.list_footer input {
  width: auto;
  padding: 6px;
  border: none;
}

.contact_section .warning {
  margin-bottom: 40px;
  font-size: 0.9em;
  line-height: 1.4em;
}

.contact_form {
  width: 400px;
  margin: 0 auto;
}

.contact_form form p,
.contact_form form input,
.contact_form form textarea {
  padding: 10px;
  width: 100%;
  text-align: left;
}

.contact_form form input,
textarea {
  border: none;
  box-shadow: 0 0 4px rgb(221, 221, 221);
}

.contact_form input:not(:first-child) {
  margin-bottom: 20px;
}

.contact_form form a {
  display: inline-block;
  margin-top: 40px;
  padding: 8px 40px;
  border: 1px solid #333;
  font-size: 0.8em;
  font-weight: bold;
}

.contact_form form a:hover {
  color: #fff;
  background-color: rgb(120, 161, 120);
  border: 1px solid rgb(120, 161, 120);
}
